<!DOCTYPE html>
<html>
<head>
    <title>LAYOUT</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="user">
        <div class="avatar-picture">
            <img src="cat.jpg">
        </div>
        <div class="info">
            <p class="name">oliver</p>
            <p>the cat</p>
            <p>Popular</p>
        </div>
        <div class="follow">
            <button>Follow</button>
        </div>
    </div>
    <div class="user">
        <div class="avatar-picture">
            <img src="cat2.jpg">
        </div>
        <div class="info">
            <p class="name">Mimi</p>
            <p>Sleepy Cat</p>
            <p>Popular</p>
        </div>
        <div class="follow">
            <button>Follow</button>
        </div>
    </div>
    <div class="user">
        <div class="avatar-picture">
            <img src="dog.jpg">
        </div>
        <div class="info">
            <p class="name">Rex</p>
            <p>Happy Bulldog</p>
            <p>Popular</p>
        </div>
        <div class="follow">
            <button>Follow</button>
        </div>
    </div>
</body>
</html>